<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WhereIs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="hero-circle">
    <h1>Warehouse Management <span>Made Easy</span></h1>
</div>
<div class="hero-form">
    <form action="#" th:action="@{/login}" method="POST" class="alert">
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <input type="text" name="username" id="username" placeholder="Username" autofocus autocomplete="off">
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
        <input type="submit" value="Log In">
        <a th:href="@{/register}" class="button">Register</a>
    </form>
</div>
</body>
</html>