<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>java-crm</title>
</head>
<body>
<div th:include="@{elem-menu}" />
<div class="page">
    <div class="container">
        <form action="#" th:action="@{/edit-wh}" th:object="${warehouse}" method="POST">
            <input type="hidden" th:field="${warehouse.id}">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" th:value="${warehouse.name}" autofocus autocomplete="off">
            <label for="capacity">Capacity</label>
            <input type="text" th:field="*{capacity}" autofocus autocomplete="off">
            <input type="submit" value="Save">
        </form>
    </div>
</div>
</body>
</html>