<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WhereIs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:include="@{elem-menu}" />
<div class="home-wh">
    <header>
        <h1 class="title">Warehouses</h1>
    </header>
    <div class="warehouses">
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
    </div>
</div>
</body>
</html>