<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WhereIs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<!--<div th:include="@{elem-menu}" />-->
<div class="menu">
    <ul>
        <li>
            <a href="#">Settings</a>
        </li>
        <li class="menu-active">
            <a href="#">Warehouses</a>
        </li>
        <li>
            <a href="#">Products</a>
        </li>
        <li class="menu-log">
            <a href="#">Log Out</a>
        </li>
    </ul>
</div>
<div class="home-wh">
    <header>
        <h1 class="title">Warehouses</h1>
    </header>
    <div class="warehouses">
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
        <div class="wh"></div>
    </div>
</div>
</body>
</html>