<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>java-crm</title>
</head>
<body>
<div th:include="@{elem-menu}" />
<div class="page">
    <div class="container">
        <div th:if="${product != null}" class="description">
            <h5>
                Name: <span th:text="${product.getName()}" />
            </h5>
            <h5>
                Capacity: <span th:text="${product.getDescription()}" />
            </h5>
            <a th:href="@{'edit-wh-' + ${product.getId()}}" class="button">Edit</a>
        </div>
    </div>
</div>
</body>
</html>