<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>java-crm</title>
</head>
<body>
<div th:include="@{elem-menu}" />
<div class="page">
    <header>
        <h1 class="title">Products</h1>
    </header>
    <a th:href="@{create-product}" id="wh-create-btn">Create</a>
    <div th:if="${products.isEmpty()}">
        <h1 class="empty-title">This warehouse does not have any products yet.</h1>
    </div>
    <div th:if="${!products.isEmpty()}" class="warehouses">
        <a th:each="p : ${products}" th:href="'/warehouse-' + ${whId} + '/product-' + ${p.getId()}" class="wh">
            <h2 th:text="${p.getName()}" />
            <h5>capacity: <span th:text="${p.getWeightKG()}" /></h5>
        </a>
    </div>
</div>
</body>
</html>